* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: sandybrown;
    font-size:  1rem;
    font-family: "Oswald", sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
}

header {
    background: red;
    padding: 25px;
}

nav {
    background:orange;
    padding: 25px;
    display: flex;
}

nav p {
    flex: 2;
}

.menu{
    flex: 1;
    display: flex;
    list-style-type: none;
}

.menu li{
    margin: 0 10px;
    padding: 1rem;
    background: saddlebrown;
}

main {
    display: flex;
    flex-direction: row;
    min-height: 300px;
}

section {
    background: rgb(247, 201, 84);
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

article {
    background: lime;
    padding: 25px;
    margin: 10px 0;
}

aside {
    background: blue;
    flex: 1;
    padding: 25px;
}

footer {
    background: plum;
    padding: 25px;
}